body {
	background: gray;
	text-align: center;
	font-family: "Helvetica Neue";
}

button {
	padding: 10px;
	margin: 5px;
	border-radius: 6px;
	border-style: none;
}

h2 {
	color: rgb(239, 181, 171);
}

.view {
	max-width: 700px;
	margin: 0 auto;
}

.dropdown nav {
	display: none;
	padding: 10px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown li {
	border: solid black 1px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 3px;
	border-bottom-width: 3px;
	font-size: 16px;
	max-width: 30%;
	list-style: none;
	text-transform: capitalize;
}

.dropdown li:hover {
	background: beige;
}

.dropdown ul {
	margin: 0;
	padding: 0;
}


.view img {
	max-width: 100%;
	margin-top: 25px;
	border-radius: 20px;
	border: 4px solid pink;
}

